<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    How PPP benefits you and your child
  </h2>
</div>
<div class="row">

  <p class="col-11">
    The PPP curriculum covers the same standards as pre-existing nutrition curriculum as well as additional
    science standards. It includes handouts, videos, interactive games and activities, as well as take-home challenges.
    Here is a sample of our curriculum:
  </p>
</div>
<div class="row">
  <iframe id="video" class="col-10 offset-1" width="560" src="https://www.youtube.com/embed/o30dM_ur-qY" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row">
  <h2 class="col-11 font-weight-bold">
    Want to know more about how to get involved?
  </h2>
</div>
<div id="newsletter-section" class="row resources-columns rounded ml-5 mr-5 mt-3 mx-auto ">
  <div class="col-12 col-xl-8 text-center">
    <div class="row w-100 ml-0 mr-0 ">
      <h2 id="join-our-newsletter" class="font-weight-bold ml-0 w-100 text-center mt-0">Join our newsletter!</h2>
    </div>
    <div class="row w-100 ml-0 mr-0 ">
      <p id="newsletter-text" class="ml-0 mb-xl-0 w-100 text-center">Great for parents, teachers, or students!</p>
    </div>
  </div>
  <div class="col-12 col-xl-3 offset-xl-1 my-auto d-flex justify-content-center">
    <div class="row w-100 ml-0 mr-0 justify-content-center">
      <a href="http://eepurl.com/g_ghfj" target="_blank" id="newsletter-signup-button"
        class="btn shadow rounded btn-lg font-weight-bold mt-lg-1" role="button">SIGN UP</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>