<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">Resources</h2>
</div>
<div class="row">
  <p class="col-11">
    Feel free to check out these resources if you're interested in learning more about <strong>climate change</strong>
    or <strong>healthy eating</strong>.
    Congratulations on taking the first step to living a more climate-friendly lifestyle!
  </p>
</div>
<!--RESOURCES (FIRST) COLUMN--------------------------------------------------------------------------------------------------------------------->
<div class="row">
  <div class="col-11 col-lg-6 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">CLIMATE CHANGE</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4" href="https://www.universityofcalifornia.edu/climate-lab" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="../images/thumbnails/resources_voxclimatelab.png"
            alt="Vox's Climate Lab" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://www.universityofcalifornia.edu/climate-lab" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">Vox's Climate Lab</a>
          <p class="row w-100 rc-entry-desc">
            A series of fun videos explaining, in simple terms, how our daily habits directly affects
            climate change.
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Interactive
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/thumbnails/resources_googleyourplanyourplanet.png"
            alt="Google Your Plan, Your Planet" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">Google Your Plan, Your Planet</a>
          <p class="row w-100 rc-entry-desc">
            This interactive site presents great visuals to help us
            understand how our habits affect the planet
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Interactive
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4" href="https://climatekids.nasa.gov/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="/images/thumbnails/resources_nasaclimatekids.png"
            alt="Nasa Climate Kids" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://climatekids.nasa.gov/" target="_blank" class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">Nasa
            Climate Kids</a>
          <p class="row w-100 rc-entry-desc">
            Bringing climate science to life with fun games and other interactive features.
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/k2" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                K-2
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR CLIMATE CHANGE (1ST) COLUMN-->
    </div>
  </div>
  <!--HEALTHY EATING (2ND) COLUMN------------------------------------------------------------------------------------------------>
  <div class="col-11 col-lg-6 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">HEALTHY EATING</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4" href="https://www.brainpop.com/health/nutrition/" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/thumbnails/resources_brainPOP.png"
            alt="BrainPOP Nutrition" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://www.brainpop.com/health/nutrition/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">BrainPOP Nutrition</a>
          <p class="row w-100 rc-entry-desc">
            Tim and Moby examines nutrition, a balanced diet, and what types of foods are healthy to eat.
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Videos
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4"
          href="https://www.fns.usda.gov/tn/great-garden-detective-adventure-standards-based-gardening-nutrition-curriculum-grades-3-and-4"
          target="_blank"><img class="shadow w-100 rc-entry-image"
            src="../images/thumbnails/resources_thegreatgardendetectiveadventure.png"
            alt="The Great Garden Detective Adventure" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://www.fns.usda.gov/tn/great-garden-detective-adventure-standards-based-gardening-nutrition-curriculum-grades-3-and-4"
            target="_blank" class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">The Great Garden Detective Adventure</a>
          <p class="row w-100 rc-entry-desc">
            A Standards-Based Gardening Nutrition Curriculum for Grades 3 and 4
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Activities
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-5 col-lg-4" href="https://fns-prod.azureedge.net/sites/default/files/tn/R4HKSchoolcookbook.pdf
        " target="_blank">
          <img class="shadow w-100 rc-entry-image" src="/images/thumbnails/resources_recipesforhealthykids.png"
            alt="Recipes for Healthy Kids" />
        </a>
        <div class="mt-3 mt-lg-1 col-11 col-lg-7 text-center text-lg-left offset-1 offset-lg-0">
          <a href="https://fns-prod.azureedge.net/sites/default/files/tn/R4HKSchoolcookbook.pdf
          " target="_blank" class="row w-100 rc-entry-title font-weight-bold justify-content-center justify-content-lg-start">Recipes for Healthy Kids
          </a>
          <p class="row w-100 rc-entry-desc">
            Check out these easy and delicious recipes created all by kids.
          </p>
          <div class="row w-100 justify-content-center justify-content-lg-start">
            <a href="/parents" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Parents
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Recipes
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR HEALTHY EATING (2ND) COLUMN-->
    </div>
  </div>
</div>
</div>
</div>
<%- include("partials/footer") %>