<%- include("partials/header") %>
<div class="row">
  <h2 class="col-11 font-weight-bold">Resources</h2>
</div>
<div class="row">
  <p class="col-11">
    Feel free to check out these resources if you're interested in learning more about <strong>climate change</strong>
    or <strong>healthy eating</strong>.
    Congratulations on taking the first step to living a more climate-friendly lifestyle!
  </p>
</div>
<!--RESOURCES (FIRST) COLUMN--------------------------------------------------------------------------------------------------------------------->
<div class="row">
  <div class="col-11 col-lg-6 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">CLIMATE CHANGE</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://www.universityofcalifornia.edu/climate-lab" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="../images/thumbnails/resources_voxclimatelab.png"
            alt="Vox's Climate Lab" />
        </a>
        <div class="col-7">
          <a href="https://www.universityofcalifornia.edu/climate-lab" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Vox's Climate Lab</a>
          <p class="row w-100 rc-entry-desc">
            A series of fun videos explaining, in simple terms, how our daily habits directly affects
            climate change.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Interactive
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/thumbnails/resources_googleyourplanyourplanet.png"
            alt="Google Your Plan, Your Planet" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Google Your Plan, Your Planet</a>
          <p class="row w-100 rc-entry-desc">
            This interactive site presents great visuals to help us
            understand how our habits affect the planet
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                Interactive
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://climatekids.nasa.gov/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="/images/thumbnails/resources_nasaclimatekids.png"
            alt="Nasa Climate Kids" />
        </a>
        <div class="col-7">
          <a href="https://climatekids.nasa.gov/" target="_blank" class="row w-100 rc-entry-title font-weight-bold">Nasa
            Climate Kids</a>
          <p class="row w-100 rc-entry-desc">
            Bringing climate science to life with fun games and other interactive features.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/k2" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                K-2
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                3-5
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR CLIMATE CHANGE (1ST) COLUMN-->
    </div>
  </div>
  <!--HEALTHY EATING (2ND) COLUMN------------------------------------------------------------------------------------------------>
  <div class="col-11 col-lg-6 mx-auto w-100 justify-content-center">
    <h3 class="font-weight-bold text-center">HEALTHY EATING</h3>
    <div class="resources-columns rounded">
      <!--FIRST ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotbadlyphotoshoppedontorocks.png"
            alt="Who photoshopped her lmao" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 15</a>
          <p class="row w-100 rc-entry-desc">
            Some eye-candy for yalls...also she shaved so that's nice.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                EYE-CANDY
              </button></a>
          </div>
        </div>
      </div>
      <!--SECOND ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://tinyurl.com/mayushincollege" target="_blank"><img
            class="shadow w-100 rc-entry-image" src="../images/galgadotjimmyfalloncharadesrarwxd.png" alt="rarw xd" />
        </a>
        <div class="col-7">
          <a href="https://tinyurl.com/watchoutforcrazies" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">Rah Rah Rah Rah Rah Rah</a>
          <p class="row w-100 rc-entry-desc">
            Want your bad romance >:)<br>
            This is July 15 Pt. 2
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                18+
              </button></a>
            <!--TODO:change 35.html to the games pageunder3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                STEFANI
              </button></a>
          </div>
        </div>
      </div>
      <!--THIRD ITEM "ROW"-->
      <div class="row justify-content-center rc-entry">
        <a class="col-4" href="https://yourplanyourplanet.sustainability.google/" target="_blank">
          <!--opens page in new tab-->
          <img class="shadow w-100 rc-entry-image" src="/images/galgadotbutweactuallyseeherbackmuscles.png"
            alt="Gal Gadot but we actually see her muscles" />
        </a>
        <div class="col-7">
          <a href="https://yourplanyourplanet.sustainability.google/" target="_blank"
            class="row w-100 rc-entry-title font-weight-bold">July 16</a>
          <p class="row w-100 rc-entry-desc">
            355 x 213 px is difficult.<br>
            But she worth it.
          </p>
          <div class="row w-100 justify-content-left">
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                35+
              </button></a>
            <!--TODO:change 35.html to the games page under 3-5-->
            <a href="/35" class="btn" role="button"><button type="button"
                class="btn w-100 shadow-sm rounded btn-sm font-weight-bold rc-entry-tags">
                ANATOMY
              </button></a>
          </div>
        </div>
      </div>
      <!--END OF ENTRIES FOR HEALTHY EATING (2ND) COLUMN-->
    </div>
  </div>
</div>
</div>
</div>
<%- include("partials/footer") %>